<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'ja' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - 
      {% if page.lang == 'en' %}
        {{ site.data.titles.en.site_title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/rouge.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="text-center py-5 bg-gray-100">
      {% if page.title == 'Home' %}
        <h1>{{ site.title }}</h1>
      {% else %}
        <a href="{{ site.baseurl }}/">
          <h1>
            {% if page.lang == 'en' %}
              {{ site.data.titles.en.site_title }}
            {% else %}
              {{ site.title }}
            {% endif %}
            <span class="fas fa-home ml-2" aria-hidden="true"></span>
            <span class="sr-only">
              {% if page.lang == 'en' %}
                Back to Home
              {% else %}
                ホームに戻る
              {% endif %}
            </span>
          </h1>
        </a>
      {% endif %}
    </header>
    <main class="container mx-auto p-5 pb-12 max-w-4xl">
      {% if page.title == 'Home' or page.permalink == '/ja/' or page.permalink == '/en/' or page.permalink == '/teams/' %}
        <div class="content-box">
          {{ content }}
        </div>
      {% else %}
        <h2>{{ page.title }}</h2>
        <div class="text-center mb-10">
          {% if page.lang == 'en' %}
            {{ page.date | date: site.data.date_formats.date_format['en'] }}
          {% else %}
            {{ page.date | date: site.data.date_formats.date_format['ja'] }}
          {% endif %}
        </div>
        {{ content }}
      {% endif %}
    </main>
    <footer class="mt-auto text-center py-5 bg-gray-100">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.author }}</p>
    </footer>
  </body>
</html>
